@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #022836;
    --secondary-color: #fff;
    --button-color: #0bb8a1cb;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}