.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    padding: 0.5rem;
    background-color: #0a6860fd;
    color: var(--primary-color);
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.overview h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.overview span {
    color: var(--secondary-color);
}