.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #022836ef;
  overflow-x: hidden; 
  transition: 0.3s; 
  z-index: 1000;
}
  
.overlay-content {
  position: relative;
  top: 10%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}
  
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
  
.overlay .closebBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  cursor: pointer;
}
  
.embed.hide {
  display: none;
}

.embed.show {
  display: inline-block;
}

.arrow {
  position: absolute;
  font-size: 40px;
}

.arrow.left-arrow {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: var(--arrow-color);
 
  cursor: pointer;
}

.arrow.right-arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  color: var(--arrow-color);
  cursor: pointer;
}

.dots {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.dots .dot {
  padding: 10px;
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 700;
}

.dots .dot.active{
  background-color: var(--button-color);
}

.no-results {
  color: var(--secondary-color);
}