.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}

.play{
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 8px 10px;
    margin: 5px 0 0 70px;
    cursor: pointer;
    display: block;
    width: 50%;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}