.pagination {
    display:flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor:not-allowed;
    color:grey;
}

.current {
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid var(--button-color);
    font-size: 20px;
    font-weight: 600;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}